<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EmpInsert.aspx.cs" Inherits="PhotoTracker.EmpInsert" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>

	</HEAD>
	<body bottomMargin="0" bgColor="#000000" topMargin="0">
		<form id="Form1" method="post" runat="server">
	
			
		</form>
	</body>
</HTML>
