<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="Header.ascx.cs" Inherits="PhotoTracker.Header" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<table id="headerTable" width="998" height="30" border="0" align="center" bgcolor="white">
	
	<tr> 
		<td align="left" valign="middle" width="56%">
			&nbsp;&nbsp;&nbsp;&nbsp&nbsp;<asp:Image id="Image2" runat="server" ImageUrl="Image/Subtitle_Imghead.gif"></asp:Image>
		</td>
		<td align="right" valign="middle" width="35%">
			<input type="button" id="btnReturnMain" runat="server" class="buttonRed" value="Return TO MAIN"
				onclick="" onserverclick="btnReturnMain_ServerClick">
		</td>
		<td align="center" valign="middle" class="tableTitle" width="9%">

				<asp:LinkButton id="lnkLogout" runat="server">Log out</asp:LinkButton>&nbsp;&nbsp;&nbsp;</td>
		<td></td>
	</tr>
</table>
